In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('Wasserhärte_Bayern')
del df['Unnamed: 0']
del df['water_hardness_mmol_l']
del df['water_hardness_fH']
df

      zip_code    coordinates water_hardness_dH hardness_range
0        80331  11.58 / 48.15                16           hart
1        97070   9.94 / 49.79                41           hart
2        90403  11.07 / 49.45                14         mittel
3        85049  11.43 / 48.77                20           hart
4        93047   12.1 / 49.02                17           hart
...        ...            ...               ...            ...
9995     86657  10.61 / 48.75               NaN            NaN
9996     86657  10.61 / 48.75               NaN            NaN
9997     86657  10.61 / 48.75               NaN            NaN
9998     96106   10.77 / 50.1                21           hart
9999     93133  12.04 / 49.23                20           hart

[10000 rows x 4 columns]

In [34]:
df['water_hardness_dH'] = pd.to_numeric(df['water_hardness_dH'], errors='coerce')

In [35]:
df['water_hardness_dH'] = df.groupby('zip_code')['water_hardness_dH'].transform('mean')

In [36]:
df

      zip_code    coordinates  water_hardness_dH hardness_range
0        80331  11.58 / 48.15          16.000000           hart
1        97070   9.94 / 49.79          41.000000           hart
2        90403  11.07 / 49.45          14.000000         mittel
3        85049  11.43 / 48.77          18.833333           hart
4        93047   12.1 / 49.02          17.000000           hart
...        ...            ...                ...            ...
9995     86657  10.61 / 48.75          18.000000            NaN
9996     86657  10.61 / 48.75          18.000000            NaN
9997     86657  10.61 / 48.75          18.000000            NaN
9998     96106   10.77 / 50.1          21.000000           hart
9999     93133  12.04 / 49.23          20.000000           hart

[10000 rows x 4 columns]

In [37]:
conditions = [
    df['water_hardness_dH'] <= 8.4,
    (df['water_hardness_dH'] > 8.4) & (df['water_hardness_dH'] <= 14),
    (df['water_hardness_dH'] > 14) & (df['water_hardness_dH'] <= 21)
]
values = ['weich', 'mittel', 'hart']

df['hardness_range'] = np.select(conditions, values, default=None)

df

      zip_code    coordinates  water_hardness_dH hardness_range
0        80331  11.58 / 48.15          16.000000           hart
1        97070   9.94 / 49.79          41.000000           None
2        90403  11.07 / 49.45          14.000000         mittel
3        85049  11.43 / 48.77          18.833333           hart
4        93047   12.1 / 49.02          17.000000           hart
...        ...            ...                ...            ...
9995     86657  10.61 / 48.75          18.000000           hart
9996     86657  10.61 / 48.75          18.000000           hart
9997     86657  10.61 / 48.75          18.000000           hart
9998     96106   10.77 / 50.1          21.000000           hart
9999     93133  12.04 / 49.23          20.000000           hart

[10000 rows x 4 columns]

In [38]:
df1 = df.drop_duplicates(subset='zip_code').reset_index(drop=True)
df2 = df1.dropna()
final_df = df2.sort_values('zip_code').reset_index(drop=True)
final_df

     zip_code   coordinates  water_hardness_dH hardness_range
0       63739  9.15 / 49.97          16.000000           hart
1       63741  9.13 / 49.99          16.000000           hart
2       63743  9.17 / 49.95          16.000000           hart
3       63755  9.07 / 50.08          12.666667         mittel
4       63762  9.04 / 49.93          14.000000         mittel
..        ...           ...                ...            ...
764     97845  9.57 / 49.93          10.000000         mittel
765     97849   9.63 / 49.9          14.666667           hart
766     97851  9.59 / 49.89           7.000000          weich
767     97854  9.67 / 49.95          18.000000           hart
768     97904  9.38 / 49.78           5.000000          weich

[769 rows x 4 columns]

In [39]:
final_df[['latitude', 'longitude']] = final_df['coordinates'].str.split(' / ', expand=True)

final_df

,zip_code,coordinates,water_hardness_dH,hardness_range,latitude,longitude
0,63739,9.15 / 49.97,16.000000,hart,9.15,49.97
1,63741,9.13 / 49.99,16.000000,hart,9.13,49.99
2,63743,9.17 / 49.95,16.000000,hart,9.17,49.95
3,63755,9.07 / 50.08,12.666667,mittel,9.07,50.08
4,63762,9.04 / 49.93,14.000000,mittel,9.04,49.93
...,...,...,...,...,...,...
764,97845,9.57 / 49.93,10.000000,mittel,9.57,49.93
765,97849,9.63 / 49.9,14.666667,hart,9.63,49.9
766,97851,9.59 / 49.89,7.000000,weich,9.59,49.89
767,97854,9.67 / 49.95,18.000000,hart,9.67,49.95
768,97904,9.38 / 49.78,5.000000,weich,9.38,49.78

In [40]:
final_df.to_csv('Wasserdaten_Bayern.csv')